.App {
    text-align: center;
  }
  
  .App-logo {
    height: 30vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  
  .App-header {
    background:radial-gradient(circle, rgba(1,1,1,1) 17%, rgba(9,9,10,1) 23%, rgba(94,94,102,1) 71%);;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  